@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    list-style: none;
    color: var(--color-font-primary);
}
.home{
    background-color: var(--color-primary);
}
.top{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px;
    align-items: center;
}


a{
    text-decoration: none;
  
}

button{
    background-color:var(--color-primary);
    border: none;
    border-radius: 5px;
    padding: 10px  25px;
    color: white; 
    cursor: pointer;
}

button:hover{
    background-color:white;
    color: var(--color-primary); 
    transition: 1s;
}

.center{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px 50px;
}

li > a > img{
    height: 30px;
    
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
   
}

.fundo{
    height: 50%;
    width: 50%;
}